{% extends 'website/base.html' %}

{% block content %}

<div class="container py-5">

    <h2>Validation de la commande</h2>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-3">
            <label>Nom complet</label>
            <input type="text" name="nom" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Téléphone</label>
            <input type="text" name="telephone" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control">
        </div>

        <div class="mb-3">
            <label>Adresse</label>
            <textarea name="adresse" class="form-control"></textarea>
        </div>

        <button class="btn btn-success w-100">
            Confirmer la commande
        </button>

    </form>

</div>

{% endblock %}