/* ===== Général ===== */
body{
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
}

/* ===== Navbar ===== */
.navbar{
    background:#0B3D91;
}

.navbar-brand{
    color:#fff !important;
    font-size:1.6rem;
    font-weight:bold;
}

.nav-link{
    color:white !important;
    margin-left:15px;
    transition:.3s;
}

.nav-link:hover{
    color:#ffc107 !important;
}

/* ===== HERO ===== */

.hero{
    min-height:85vh;
    padding:80px 20px;
    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url("../images/hero.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:3rem;
    font-weight:bold;
}

.hero p{
    font-size:1.1rem;
    margin:15px 0;
}

.btn-orange{
    background:#ff7b00;
    color:white;
    border:none;
}

.btn-orange:hover{
    background:#e96d00;
    color:white;
}

/* ===== SECTIONS ===== */

.section-padding{
    padding:60px 0;
}

/* TITRE */
.section-title{
    font-size:2.2rem;
    font-weight:700;
    text-align:center;
    color:#0B3D91;
    margin-bottom:10px;
}

.section-subtitle{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

/* ===== CARDS ===== */

.category-card{
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
    background:#fff;
}

.category-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

/* IMAGE STABLE */
.category-image{
    width:100%;
    height:260px;
    object-fit:contain;
    background:#fff;
    display:block;
    padding:8px;
}

/* CONTENU */
.category-card .content{
    padding:18px;
}

.category-card i{
    font-size:45px;
    color:#ff7b00;
    margin-bottom:10px;
}

.category-card h4{
    font-size:1.2rem;
    color:#0B3D91;
    font-weight:bold;
    margin-bottom:8px;
}

.category-card p{
    color:#666;
    margin-bottom:0;
}

/* ===== PRODUITS PRO ===== */

.product-card{
    overflow:hidden;
    border-radius:15px;
}

.image-box{
    width:100%;
    height:250px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fff;
    padding:10px;
}

.product-image{
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}

/* ===== TEXT ALIGN ===== */

.section-title.text-start{
    text-align:left;
}

.section-subtitle.text-start{
    text-align:left;
    margin-bottom:15px;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 768px){

    .hero{
    background:
        linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
        url("../images/hero.jpg") center/cover no-repeat;

    min-height:65vh;
    display:flex;
    align-items:center;
    color:white;
    text-align:center;
}
}

.category-card{
    height:100%;
    display:flex;
    flex-direction:column;
}



.category-card .content{
    flex:1;
    display:flex;
    flex-direction:column;
}

.category-card .btn{
    margin-top:auto;
}

.category-card p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-card{
    transition:0.3s;
    border-radius:12px;
}

.hover-card:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.image-box{
    height:220px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fff;
    padding:10px;
}

.product-image{
    max-height:100%;
    max-width:100%;
    object-fit:contain;
}



/* ================= GALERIE ================= */

.gallery-image{
    width:100%;
    height:260px;
    object-fit:cover;
    display:block;
    transition:0.3s;
}

.gallery-card{
    height:100%;
    overflow:hidden;
    border-radius:15px;
    background:#fff;
    box-shadow:0 8px 20px rgba(0,0,0,.10);
    display:flex;
    flex-direction:column;
}

.gallery-card:hover .gallery-image{
    transform: scale(1.05);
}



.gallery-card .p-3{
    flex:1;
    display:flex;
    flex-direction:column;
}

.gallery-card .btn{
    margin-top:auto;
}

.category-card{
    transition:0.3s;
    cursor:pointer;
}

.category-card:hover{
    transform:translateY(-8px) scale(1.01);
    box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

.navbar{
    padding:15px 0;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}




.navbar-nav .nav-link {
    font-weight: 500;
    margin-left: 10px;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;

}


.navbar {
    font-family: Arial, sans-serif;
}

.navbar-nav .nav-link {
    font-weight: 500;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
    transform: translateY(-1px);
}

.navbar .form-control {
    border: none;
    box-shadow: none;
}

.navbar .form-control:focus {
    box-shadow: none;
}


.input-group .form-control{
    border-radius:50px 0 0 50px;
    height:48px;
}

.input-group .btn{
    border-radius:0 50px 50px 0;
    padding:0 20px;
}

@media (min-width:992px){
    .navbar form{
        max-width:650px;
    }
}


.product-circle-wrapper {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 10px 5px;
    scroll-snap-type: x mandatory;
}

/* cacher scrollbar */
.product-circle-wrapper::-webkit-scrollbar {
    display: none;
}

.product-circle {
    flex: 0 0 auto;
    scroll-snap-align: start;

    width: 70px;
    height: 70px;

    border-radius: 50%;
    overflow: hidden;

    border: 2px solid #0d6efd;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
    background: #fff;
}

.product-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* hover effet */
.product-circle:hover {
    transform: scale(1.1);
    border-color: #ffc107;
}


.horizontal-line{
    display:flex;
    overflow-x:auto;
    gap:12px;
    padding-bottom:10px;
}

.horizontal-line::-webkit-scrollbar{
    height:6px;
}

.horizontal-line::-webkit-scrollbar-thumb{
    background:#0d6efd;
    border-radius:10px;
}

.product-card{
    min-width:160px;
    max-width:160px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    overflow:hidden;
    flex-shrink:0;
}

.product-card img{
    width:100%;
    height:110px;
    object-fit:cover;
}

.title{
    font-size:13px;
    font-weight:600;
}

.old{
    color:red;
    text-decoration:line-through;
    font-size:11px;
}

.new{
    color:#198754;
    font-size:15px;
    font-weight:bold;
}

.whatsapp-float{

    position:fixed;
    width:55px;
    height:55px;

    bottom:20px;
    right:20px;

    background:#25D366;
    color:#fff;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:28px;

    box-shadow:0 5px 15px rgba(0,0,0,.3);

    z-index:9999;

    text-decoration:none;

    transition:0.3s;
}

.whatsapp-float:hover{
    transform:scale(1.1);
    background:#1ebe5d;
}


.developer-name{

    color:#ffc107;

    display:inline-block;

    animation:
        fadeInUp 1.5s ease,
        glow 2s infinite alternate;

}


/* Apparition vers le haut */
@keyframes fadeInUp{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}


/* Effet lumière */
@keyframes glow{

    from{

        text-shadow:
        0 0 5px #ffc107;

    }

    to{

        text-shadow:
        0 0 15px #ff9800,
        0 0 25px #ffc107;

    }
}


.logo-navbar{
    height:55px;
    width:auto;
}